.App {
  text-align: center;
  width: 500px;
  margin: auto;
}

header {
  background: #f9d423;
  padding: 20px;
}

.input {
  padding: 10px;
}

.submit {
  background: #1ec0ff;
  padding: 10px;
  border: none;
}
